--trusted-host artifactory.algol60.net
--extra-index-url http://artifactory.algol60.net/artifactory/csm-python-modules/simple
-c constraints.txt
dictdiffer
gitpython
hvac
kafka-python
kubernetes
liveness
paramiko
PyYAML
redis
requests
requests-retry-session
# setuptools is needed for distutils command run in Dockerfile
setuptools
ujson
urllib3
